.book-items{
    display: inline-block;
    /*width: 30%;*/
    /*margin: 2px;*/
}
.gex{
    display: inline-block;
}
#listItems .placeholder{
    width: 227px;
    height: 150px;
    display: inline-block;
    position: static;
    background-image: url("../img/uploads/add.png");
    background-repeat: no-repeat;
    background-position: center;
    /*margin-bottom: -59px !important;*/
}

.cat-list-ul .placeholder{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    background-image: url("../img/uploads/add.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 43px;
    border-radius: 4px;


}

.bs-edit-menu li{
    /*position: relative;*/
    background-color: white;
    height: 151px;
    width: 230px;
    overflow: hidden;
    margin: 3px;
}

.book-items input{
    width: 100%;
}

/*mine style*/
/*  bhoechie tab */
div.bhoechie-tab-container{
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border:1px solid #ddd;
    margin-top: 3%;

    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: #448AFF;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
    background-color: #448AFF;
    color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #448AFF;;
}

div.bhoechie-tab-content{
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
    display: none;
}

.bhoechie-tab-content div h2{
    margin-top: 0;color:#448AFF;
}
.bhoechie-tab-content div h3{
    margin-top: 0;color:#448AFF;
}


.list-group a h4{
    width: 20%;
    position: absolute;
    left: 2%;
}

/*end mine style*/

/*.gex-modal{*/
    /*left: 50% !Important;*/
/*}*/

ul.cat-list-ul .active{
    background-color: #448AFF;
    /*color: #ffffff;*/
}
ul.cat-list-ul .active:hover{
    background-color: #3f7dff;
    /*color: #ffffff;*/
}
ul.cat-list-ul .active .cat-link{
    /*background-color: #448AFF;*/
    color: #ffffff;
}

li.list-group{
    padding: 0;
}

/*li.list-group>a.active:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*left: 100%;*/
    /*top: 50%;*/
    /*margin-top: -13px;*/
    /*border-left: 0;*/
    /*border-bottom: 13px solid transparent;*/
    /*border-top: 13px solid transparent;*/
    /*border-left: 10px solid #448AFF;*/
/*}*/

.book-items .book-name input{
    width: 80%;
    border: 1px solid #e9e9e9;
}
.book-items .book-link input{
    width: 80%;
    border: 1px solid #e9e9e9;
}

/*.book-items{*/
    /*padding-top: 12px;*/
/*}*/

#system-search{
    font-size: 16px;
    padding: 17px;
}




/*login modal*/

.modal .modal-header {
    border-bottom: none;
    position: relative;
}
.modal .modal-header .btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}
.modal .modal-footer {
    border-top: none;
    padding: 0;
}
.modal .modal-footer .btn-group > .btn:first-child {
    border-bottom-left-radius: 0;
}
.modal .modal-footer .btn-group > .btn:last-child {
    border-top-right-radius: 0;
}
/*.old-modal{*/
    /*top: 25% !important;*/
/*}*/
.modal-backdrop.fade {
    opacity: 0.8;
}

.gex-modal .form-group input{
    font-size: 16px;
    padding: 18px;
}

.gex-modal .btn-danger{
 float: left;
}
.gex-modal .btn-primary{
 float: right;
}
.btn-group{
    width: 100%;
}

.gex-modal .btn-group button{
    border-radius: 4px !important;
}

.gex-modal{
    min-height: 200px;
    background: none;
    border: none;
    overflow: hidden !important;
    box-shadow: none;
}

.gex-modal .modal-body{
    padding: 20px;
}
.gex-modal .modal-footer{
    padding: 13px;
}
/*end login modal*/

body{
    background-color: #ffffff;
}

header .navbar{
    background-color: #e1f9ff;
    display: block;
    z-index: 1;
}

.navbar .container {
    width: 100%;
}

#myModalLogOut .btn-danger{
    float: none;
}

.bookmarks-link {
    text-decoration: none;
}

/*cat-items styles*/

.menu-item-event, .book-name i{
    display: none;
}
.menu-item-event{
    display: none;
}

.cat-list-setting{
    position: absolute;
}

ul.cat-list-ul .active i{
    color: white;
}

.book-items:hover .menu-item-event {
    display: block;
    /*margin-top: 80px;*/
}

.list-group-item:hover .menu-item-event {
    display: block;
    /*margin-top: 80px;*/
}

.myBook .bs-input{

    font-size: 16px !important;
    padding: 18px !important;
    width: 100%;
    margin-bottom: 10px;

}

/*.menu-item-event {*/
    /*position: relative;*/
    /*top: -20%;*/
/*}*/

.bookmark-link{

}
.book-items:hover .book-name i {
    display: block;
}

.book-items:hover .book-link i {
    display: block;
}
/*.bookmark-link{*/
    /*margin: 15px;*/
/*}*/
.bookmark-link{
    text-align: center;
    width: 210px;
    height: 122px;
}

.bookmark-link a img{
    top: 37%;
    position: relative;
    max-height: 55px;
    max-width: 150px;
}

.book-items .left-toolbar{
    width: 25px;
    height: 25px;
}
/*.book-items .right-toolbar{*/
    /*width: 25px;*/
    /*height: 25px;*/
/*}*/

.book-name a{
    text-decoration: none;
}
.book-name{
    position: absolute;
    /*left: 0%;*/
}
.book-name .itam-name{
 display: inline-block;
    margin-left: -24px;

    /*float: right;*/
}
.book-name .left-toolbar{
 display: inline-block;
    position: relative;
/*left: 3%;*/
    float: left;
}
.book-name .item-name{
    margin-top: -8px;

}
.book-name {
    padding: 10px 10px 0 10px;
    text-align: center;
    display: inline-block;
}

.bookmark-link a{
    /*border: 1px solid grey;*/
    width: 230px;
    height: 122px;
    display: block;
}
/*end cat-items styles*/

/*cat-items remove styles*/
#remCat .button-remove{
    width: 100%;
}
#remCat .button-remove i{
    float: right;
}
/*end cat-items remove styles*/

.heading-setting-section div{
    width: 100%;
    display: inline-table;
}


/*#remCat .bs-modal {*/
    /*height: 20px;*/
    /*margin-top: 0;*/
/*}*/


#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: 92%;
    top: -33px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;
}

#myModalSettings input{
    height: 40px;
    /*width: 25%;*/
}

#contrastFilterCat, #contrastFilterBook {
    background-color: black;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    z-index: 2;
    /*opacity: 0.9;*/
    margin-top: 25px;

}

#contrastFilterCat{
    float: left;
}

#contrastFilterCat span{
    color: white;
    text-align: center;
    display: block;
}

#contrastFilterBook{
    float: right;
}

#contrastFilterBook span{
  color: white;
    text-align: center;
    display: block;
}

.back-to-def-set{
    position: relative;
    font-size: 12px;
    top: 4em;
    left: 66%;
}

#myModalFeedBack .modal-body label{
    text-align: center;
}

#myModalFeedBack .modal-body button{
    float: none;
}
.row{
    width: 100%;
}

.cat-list-button{
    float: none;
    padding: 0;
}

.cat-list-button a{
    border: 1px solid #ddd;
    border-bottom-width: 0px;
    width: 100%;
    height: 43px;
    background-image: url("../img/uploads/add.png");
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.cat-list-button a:focus{
    background-color: white;
    border: 1px solid #ddd;

}
.cat-list-button a:hover{
    background-color: #ffffff;
    border: 1px solid #ddd;

}

.cat-list-button a:active{
    background-color: white;
}

.itam-name{
    text-align: center;
}


.navbar-nav li{
    display: inline-block;
}

.cat-link {
    display: block;
    padding: .5em 1em;
}

/*#myModalLogOut .well{*/
/*min-height: 70px;*/
/*}*/

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto !important;
}
.menu-item-event-remove{
    float: left;
}
.menu-item-event-edit{
    float: right;
    margin-left: 5px;
}
.menu-item-event-edit i{
    margin-top: 8px;
}
.cat-list-setting .menu-item-event-edit{
    margin-top: 4px;
}

.cat-list-setting{
    top: 4px;
}

.bs-apply .btn-primary{
    float: none;
}

#SelectCategory{
    height: 38px;
}
.SelectCategory{
    height: 38px !important;
}

#myModalSettings .btn-success{
    float: right;
}
.forgot_pass{
    font-size: 12px;
}

/*@media screen*/
@media screen and (max-width: 425px) {
    .row{
        margin: 0 !important;
    }

    .book-name {
         left: 7%;
    }

    .add-item-button {
        margin: 10px auto;

    }
}

@media screen and (max-width: 768px) {
    .book-content{
        margin-top: 30px;
    }
}

/*@media screen and (max-width: 768px){*/
    /*.bs-edit-menu {*/
        /*text-align: center;*/
    /*}*/
/*}*/



.check {
    width: 100%;
    float: left;
}

.check img {
    max-width: 100%;
}

.please-select {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 30px;
}

.please-select .check-image {
    position: absolute;
    top: 0%;
    left: 88%;
    color: #0c800c;
    font-size: 25px;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    padding: 10px;
}


.please-select img{
    width: 100px;
}

.check .col-lg-3{
    padding: 5px;
}


.image_select{
    display: none;
}

.dis_non{
    display: none;
}
