.right-toolbar{
    width: 290px;
    text-align: right;
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 15px;
    height: 50px;
}
.right-toolbar a{
    text-decoration: none;
    padding: 0 20px;
}
.navbar .left-toolbar{
    width: 280px;
    text-align: right;
}

.page-title{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.page-title h3{}

.setting-tabs {
    padding-bottom: 22px;
}

.heading-setting-section {}
.heading-setting-section a.btn {
    float: right;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.example li.placeholder {
    position: relative;
    /** More li styles **/
}
ol.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}
.edit-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.edit-menu li {
    border: 1px solid #ddd;
    margin-bottom: 8px;
    /*padding-left: 12px;*/
}
.edit-menu li input{
    outline: 0;
    border: 0;
    padding: 10px 14px;
    height: 100%;
    vertical-align: middle;
    /*width: 100%;*/
}
.edit-menu {}

.menu-item-event {
    display: inline-block;
    float: right;
    height: 38px;
    /*padding: 5px 12px;*/
    vertical-align: middle;
}
.menu-item-event i.icon-cursor-move{
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    text-align: center;
    line-height: 29px;
    cursor: move;
}
.menu-item-event {}

.empty-items {
    padding: 25px 0px;
    margin-top: 22px;
}
.empty-items p {
    color: #afaeae;
}

.cat-list {
    /*margin: 25px 0;*/
    /*border: solid #f7f7f9;*/
}
.cat-list li:first-child{
    border-radius: 0;
}
.cat-list li a{}
.cat-list li a.active{
    background: #f7f7f9;
    color: black;
}

.add-item-button {
    margin: 3px 0px 0px 3px;
    height: 151px;
    width: 229px;
    display: inline-block;
    position: static;
    background-image: url(../../img/uploads/add.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
    border: 1px solid #ddd;
    top: -5px;
    position: relative;
}

.add-item-button:focus{
    background-color: white;
    border: 1px solid #ddd;

}
.add-item-button:hover{
    background-color: #ffffff;
    border: 1px solid #ddd;

}

.add-item-button:active:hover{
    background-color: white;
}

.add-item-button:hover{}

.button-remove {
    background: none;
    color: #ff5e5e;
    border: 0;
    cursor: pointer;
}
.button-remove i{
    line-height: 28px;
}

.cat-list-ul{
    margin: 0;
    padding: 0;
}
.cat-list-ul a{
text-decoration: none;
}