body{
    height: -webkit-fill-available;
}

.bav {
    border:1px solid white;
    min-height:20px;
}

#profile-image1 {
    cursor: pointer;

    width: 160px;
    height: 160px;
    border:1px solid #cfcfcf;}
.tital{ font-size:16px; font-weight:500;}
.bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}


.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}
/********************************************************************/
.bs-edit-menu{
    font-size: 16px;
}


@media screen and (max-width: 1200px) {
    .bs-edit-menu{
        font-size: 14px;
    }
}

.bs-modal{
    margin-top: 15%;
}

#formLangSite{
    height: 34px;
}

#settingForm .form-control, #formProject .form-control{
    font-size: 17px;
}

/*question style*/


.bs-comments-tab{
    width: 100%;
}

.comment-date{
    float: right;
    color: #555;
    font-weight: bold;
    margin: 10px auto 20px;
    margin-top: -3%;
}

.media{
    display: block;
}

.page-header { position: relative; }
.reviews {
    color: #555;
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date {
    position: absolute;
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before {
    content: '.';
    margin-left: -2px;
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 40px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.disabled-questions {
    display: inline-block;
}
/* end question style*/


@import "https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500";
html {
    background: #f8f7f2;
}

.menu, .button {
    width: 100px;
    height: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu {
    position: fixed;
    top: 50px;
    left: 50px;
    -webkit-transition: -webkit-transform 1.125s cubic-bezier(0.39, 1.52, 0.46, 0.92);
    transition: -webkit-transform 1.125s cubic-bezier(0.39, 1.52, 0.46, 0.92);
    transition: transform 1.125s cubic-bezier(0.39, 1.52, 0.46, 0.92);
    transition: transform 1.125s cubic-bezier(0.39, 1.52, 0.46, 0.92), -webkit-transform 1.125s cubic-bezier(0.39, 1.52, 0.46, 0.92);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    cursor: pointer;
}

.button {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    mix-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 33%;
    font: 25px/100px Alegreya Sans, sans-serif;
    -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.39, 1.52, 0.46, 0.92);
    transition: -webkit-transform 0.75s cubic-bezier(0.39, 1.52, 0.46, 0.92);
    transition: transform 0.75s cubic-bezier(0.39, 1.52, 0.46, 0.92);
    transition: transform 0.75s cubic-bezier(0.39, 1.52, 0.46, 0.92), -webkit-transform 0.75s cubic-bezier(0.39, 1.52, 0.46, 0.92);
    will-change: transform;
}
.button.closed {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

.main {
    color: #030f01;
    text-align: center;
    mix-blend-mode: normal;
    line-height: 100px;
    box-shadow: 0 0 0 5px rgba(3, 15, 1, 0.1);
    -webkit-transition: border-color 0.75s, color 0.75s;
    transition: border-color 0.75s, color 0.75s;
    will-change: color, border-color, background;
}
.closed .main {
    color: #f8f7f2;
    box-shadow: 0 0 0 5px rgba(3, 15, 1, 0);
}

.home {
    background-color: #1ba5cd;
    top: 0%;
    left: 225%;
    /*background-image: url(https://bennettfeely.com/cdpn/home.svg);*/
    -webkit-transition-duration: 0.525s;
    transition-duration: 0.525s;
}
.closed .home {
    -webkit-transform: translate3d(-225%, -10%, 0) rotate(-180deg);
    transform: translate3d(-225%, -10%, 0) rotate(-180deg);
}

.music {
    background-color: #1ab254;
    top: 86.10368%;
    left: 207.873%;
    /*background-image: url(https://bennettfeely.com/cdpn/music.svg);*/
    -webkit-transition-duration: 0.675s;
    transition-duration: 0.675s;
}
.closed .music {
    -webkit-transform: translate3d(-198.36244%, -89.19384%, 0) rotate(-180deg);
    transform: translate3d(-198.36244%, -89.19384%, 0) rotate(-180deg);
}

.messages {
    background-color: #fec72e;
    top: 159.09908%;
    left: 159.09908%;
    /*background-image: url(https://bennettfeely.com/cdpn/messages.svg);*/
    -webkit-transition-duration: 0.825s;
    transition-duration: 0.825s;
}
.closed .messages {
    -webkit-transform: translate3d(-153.22122%, -151.00892%, 0) rotate(-180deg);
    transform: translate3d(-153.22122%, -151.00892%, 0) rotate(-180deg);
}

.places {
    background-color: #fa7d39;
    top: 207.873%;
    left: 86.10368%;
    /*background-image: url(https://bennettfeely.com/cdpn/places.svg);*/
    -webkit-transition-duration: 0.975s;
    transition-duration: 0.975s;
}
.closed .places {
    -webkit-transform: translate3d(-91.98154%, -199.78284%, 0) rotate(-180deg);
    transform: translate3d(-91.98154%, -199.78284%, 0) rotate(-180deg);
}

.bookmark {
    background-color: #ee5656;
    top: 225%;
    left: 0%;
    /*background-image: url(https://bennettfeely.com/cdpn/bookmark.svg);*/
    -webkit-transition-duration: 1.125s;
    transition-duration: 1.125s;
}
.closed .bookmark {
    -webkit-transform: translate3d(-9.51056%, -228.09016%, 0) rotate(-180deg);
    transform: translate3d(-9.51056%, -228.09016%, 0) rotate(-180deg);
}

.menu div{
    font-size: 14px;
    text-align: center;
}
.menu a{
    font-size: 14px;
    color: black;
    text-decoration: none;
}


@media screen and (min-width: 768px) {
    #myNavbar .nav{
        flex-direction: row;
        float: right;

    }
    /*.bs-navbar{*/
        /*display: none;*/
    /*}*/

    #custom-search-form button {
        left: 97% !important;
    }
}

@media screen and (max-width: 425px) {
    #listItems{
        text-align: center;
    }
}


/*@media screen and (max-width: 768px) {*/
    /*#custom-search-form button {*/
        /*left: 92% !important;*/
    /*}*/
/*}*/
